
<h2>Customers</h2>
<div class="form-group row">
    <lavel class="col-sm-2 col-form-label">Filter:</lavel>
    <div class="col-sm-10">
        <input type="text" ng-model="vm.name" class="form-control"/>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="cust in vm.customers | filter: vm.name">
        <td>{{cust.name}}</td>
        <td>{{cust.city}}</td>
        <td><a href="/customers/{{cust.id}}/orders">Orders</a></td>
    </tr>
</table>                                                  